asgiref==3.8.1
dj-database-url==2.3.0
Django==5.1.6
django-allauth==65.4.1
django-cors-headers==4.7.0
django-extensions==3.2.1
django-filter==22.1
djangorestframework==3.14.0
djangorestframework-jsonapi==6.0.0
gunicorn==23.0.0
inflection==0.5.1
packaging==24.2
pillow==11.1.0
psycopg2==2.9.10
python-dotenv==0.21.0
pytz==2022.6
sqlparse==0.4.3
typing_extensions==4.12.2
tzdata==2022.6
whitenoise==6.9.0
